<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="LOG_PATTERN" source="logging.pattern.console" />
    <springProperty scope="context" name="LOG_FILE_NAME" source="logging.file.name" />
    <springProperty scope="context" name="LOG_MAX_HISTORY" source="logging.file.max-history" />
    <springProperty scope="context" name="FILE_NAME_PATTERN" source="logging.logback.rollingpolicy.file-name-pattern" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${FILE_NAME_PATTERN}</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Set the root logger level and its appenders -->
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <!-- Set logger levels for specific packages -->
    <logger name="com.home.dataprocessing" level="debug" additivity="false">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>
</configuration>
